* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed';
    color: white;
}

h3 {
    margin: 20px;
}


.menu {
    padding: 4px 10vw !important;
    position: absolute;
    z-index: 10;
}

.menu a {
    color: white;
}

.menu a:hover {
    color: #F27234;
}

.carousel-indicators li {
    height: 10px !important;
    bottom: 50px;
    width: 10px;
    border: 2px solid white;
    border-radius: 50% !important;
    background: transparent;
    display: none;
}


.carousel-first {
    height: 70vh !important;
}

.background-No-repeat {
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.cover {
    background-size: cover !important;
}

.carousel-caption-meio {
    top: 50%;
    transform: translateY(-30%);
    bottom: 0;
}

.filtro {
    height: 70vh !important;
    background-color: rgba(0, 0, 0, 0.5);
}

.icon-control {
    position: absolute;
    top: 50%;
}

.tamanho-corte {
    width: 100%;
    height: 100px;
    margin-top: -50px;
    overflow: hidden;
    position: absolute;

}

.corte-slide-inicial {
    border-bottom: 50px solid #61C7F2;
    border-left: 100vw solid transparent;

}

.corte-quemsomos {
    border-top: 50px solid transparent;
    border-left: 100vw solid white;
}

.row {
    margin: 0;
}

#quemsomos {
    height: 550px;
    background: url(../assets/bg-quem-somos.jpg);
}

.position-text {
    padding-top: 90px;
}


#slide-services {
    display: none;
}

.title-services {
    color: #F27234;
}

.card-services-mobile {
    top: 5%;
    margin: auto auto;
    width: 50vw;
    height: 40vh;
    border: 5px solid #F27234;
}

.card-services {
    width: 100%;
    height: 300px;
    border: 5px solid #F27234;
}

.card-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#clientes {
    margin: 100px 0;
}

.slide-clients {
    width: 80%;
    height: 25vh;
    margin: 20px auto;
}

.contato {
    padding: 10px 10% 50px 10%;
    background-color: #61C7F2;
}
.texto-contato{
    margin: 0 5px;
    transform: rotate(90deg)
}

.map {
    width: 100%;
    height: 60vh;
}

.form-control {
    margin: 10px 0;
}

.footer-margin {
    padding: 30px 0 0 10%;
}

.footer p {
    height: 40px;
    color: #456EB5;
    font-family: "Open Sans";
}

@media screen and (max-width: 768px) {
    .menu{
        padding:4px 4vw !important;
    }
    .navbar-toggler {
        background-color: blue !important;
        margin-top: 20px;
        padding: 20px 10px;
    }
    .navbar-collapse {
        background-color: blue !important;
    }
    .margin-navbar{
        text-align: center;
    }
    .link-mobile {
        font-size: 70%;
    }
    .carousel-first {
        height: 55vh !important;
    }
    .filtro {
        height: 55vh !important;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    #quemsomos{
        padding-top: 40px;
    }
    .position-text {
        padding-top:0;
    }
    #slide-services {
        display: block;
    }
    
    #services-desktop {
        display: none;
    }
     .faleconosco-form{
        margin-top: 50px !important;
    }
    .contatos-title-map{
        border: 0px;
    }
}

@media screen and (max-width: 412px) {
    .menu{
        padding:4px 4vw !important;
    }
    .carousel-first {
        height: 88vh !important;
    }
    .filtro {
        height: 88vh !important;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .carousel-indicators li{
        display: block;
    }
    .setas-slide{
        display: none;
    }
    #quemsomos {
        height: 680px;
    }
    .position-text {
        padding-top: 80px;
    }
    .card-services-mobile {
        width: 60vw;
        height: 35vh;
    }
    .contato {
        margin: 0;
    }
    .faleconosco-form{
        margin-top: 50px !important;
    }
    
    
}

